{% extends 'base.html' %}
{% load i18n %}

{% block title %}
  {% trans "Home" %}
{% endblock %}

{% block header %}
<header class="main-header">
  <div class="header-content">
    <div class="header-content-inner">
      <h1 id="homeHeading">Sistema de Monitoramento de Insumos - Universidade de Brasília</h1>
      <hr>
      {% if user.is_authenticated %}
        <p>Olá {{user.first_name}}, para onde deseja ir?</p>
        <a href="{% url 'dashboard' %}" class="btn btn-primary btn-xl page-scroll">Painel de Controle</a>
        <a href="{% url 'my_account:index' %}" class="btn btn-warning btn-xl page-scroll">Minha Conta</a>
      {% else %}
        <p>Bem-vindo ao SMI - UnB, a plataforma web para monitoramento temporal de recursos importantes para a Universidade. Realize o login para ter maior acesso ao sistema!</p>
        <a href="{% url 'authentication:make_login' %}" class="btn btn-primary btn-xl page-scroll">Login</a>
      {% endif %}
    </div>
  </div>
</header>
{% endblock %}

{% block body %}
{% endblock %}
